body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

svg {
    display: block;
    margin: auto;
    margin-top: 3%;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    pointer-events: none;
    background-color: wheat;
  }

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }